.displayImageField {
    :first-child {
        display: block;
        font-weight: bold;
    }
    img {
        width: 150px;
    }
    padding-bottom: 10px;
    display: block;
}

.error {
    border: 1px solid #B00;
    > :last-child {
        margin-left: 10px;
        color: #B00;
        font-weight: bold;
    }
}