.login {
    label {
        display: inline-block;
        width: 80px;
        text-align: right;
        margin-right: 5px;
    }
    input {
        width: 150px;
    }
}

.error {
    color: #b00;
}